body {
  padding: 0px;
  margin: 0;
  background-color: #bcb3a5
}
header {
  font-family: monospace;
  margin: 0;
  margin-right: 5%;
  text-align: right;
  padding: 1px;
  border-bottom: ;
}

h3 {
  font-size: 3em;
  padding-bottom: 10px;
  color: firebrick;
}

a {
  text-decoration: none;
}

#nav {
  width: 60%;
  float: left;
  /*margin: auto;*/
  padding: 0;
  display: inline-block;
}
#blog {
  font-family: monospace;
  background-color: #A37D55;
  color: #e5b739;
  height: 155px;
  width: 155px;
  border-radius: 100%;
  line-height: 155px;
  margin-top: -8%;
  margin-left: 6%;
}

#about {
  font-family: monospace;
  background-color: #9cac73;
  color: #fff8dc;
  height: 175px;
  width: 175px;
  border-radius: 100%;
  margin-left: 45%;
  margin-top: -20%;
  line-height: 165px;
}

#work {
  font-family: monospace;
  background-color: #e5b739;
  color: #A37D55;
  height: 270px;
  width: 270px;
  border-radius: 100%;
  margin-left: 10%;
  margin-top: 10%;
  line-height: 270px;
}

#contact {
  font-family: monospace;
  color: #9cac73;
  height: 210px;
  width: 210px;
  border-radius: 100%;
  margin-left: 60%;
  margin-top: -39%;
  background-color: #fff8dc;
  line-height: 210px;
}

div {
  text-align: center;
  font-size: 1.5em;
}
#video {
  float: right;
  display: inline-block;
  margin-right: 5%;
}

img {
  height: 250px;
  width: 350px;
}
footer {
  padding-top: 5%;
  clear: both;
  text-align: right;
  padding-right: 10px;
}
nav img {
  height: 50px;
  width: 50px;
}
nav{
  display: inline-block;
}
footer p {
  display: inline-block;
}
